.landingPageWrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.landingPageContent {
  width: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  border-radius: 10px;
  flex-direction: column;
  background: hsl(210, 45%, 33%);
  -webkit-box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.5);
}
.landingPageName {
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 700;
  color: hsl(40, 23%, 97%);
  padding-top: 14px;
  margin: 0;
  margin-bottom: 10px;
}
.line {
  height: 1px;
  background: #51D0DE;
  width: 50%;
  -ms-flex-item-align: center;
  align-self: center;
}

@media only screen and (min-width: 450px) {
  .landingPageContent {
    width: 400px;
  }
}
@media only screen and (min-width: 700px) {
  .landingPageContent {
    width: 400px;
  }
  .line {
    width: 60%;
  }
}
