.contact-wrapper {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
  grid-template-rows: 1fr auto;
  background: #3e3e3e;
  grid-gap: 30px;
  max-width: 600px;
  padding: 19px;
  margin: 0 auto;
  color: hsl(40, 23%, 97%);
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.5);
          box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.5);
}
.contact-text {
  color: hsl(3, 100%, 65%);
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-top: 30px;
  justify-self: center;
}
.linkedin-link {
  color: hsl(40, 23%, 97%);
  padding: 0 6px;
}

.contact-form-container {
  display: grid;
  grid-gap: 20px;
  margin: 0;
  width: 100%;
}
.contact-input {
  color: hsl(40, 23%, 97%);
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid hsl(41, 11%, 35%);
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}
.contact-input:focus {
  border-bottom: 1px solid hsl(43, 13%, 90%);
}
.form-message {
  overflow: auto;
  background: transparent;
  border: 1px solid hsl(41, 11%, 35%);
  color: hsl(40, 23%, 97%);
  padding: 10px;
  max-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form-message:focus {
  border: 1px solid hsl(40, 23%, 97%);
}
.contact-form-btn {
  width: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-self: end;
  border: none;
  height: 30px;
  text-transform: uppercase;
  background: hsl(360, 67%, 44%);
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 6px;
}
.contact-form-error-message {
  margin-top: 18px;
  width: 100%;
  background: hsla(0, 100%, 80%, 1);
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: hsl(216, 20%, 25%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}
.contact-form-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
